<a href = {% url 'articles:create_article' %} >add article</a>

<p>there are {{paginator.count}} articles</p>

<br>

{% for article in articles %}
    <a href = {% url 'articles:specific_article' article.slug %}> <p>Title : {{article}}</p> </a>
    <p>Slug : {{article.slug}}</p>
    <p>Description : {{article.description}}</p>
    <p>Body : {{article.body}}</p>
    <p>Tags : {% for tag in article.tag.all %}<t>{{tag}}, </t>{% endfor %}</p>
    <hr>
{% endfor %}

{% if page_obj.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}